{% extends "main.html" %}

{% block title %}Registration{% endblock %}
{% block content %}
{% if invalid_registration %}
    <h1>Registration is invalid, please try again.</h1>
{% endif %}
<form action="{{ url('registration_post') }}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email"
               placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username"
               placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender">
            <option>Male</option>
            <option>Women</option>
            <option>None</option>
        </select>
    </div>
    <div class="form-group">
        <label for="avatar_url">Avatar url</label>
        <input type="url" class="form-control" id="avatar_url" placeholder="url" name="avatar_url">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}


